*.dll
*.cache
*.exe
*.pdb
*.bson
*.jpg
*.pyc
*.targets
*.props
*.g.cs
*.rsp
*.config
*.pyc
*.CopyComplete
.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
QuantumHello.AssemblyInfo.cs
QuantumHello.csproj.FileListAbsolute.txt
*.png
quantum-computing/*
motion/joint-motion/__pycache__/joint_motion.cpython-37.pyc
motion/joint-motion/__pycache__/joint_motion.cpython-37.pyc
tictactoe/__pycache__/board.cpython-37.pyc
tictactoe/__pycache__/square.cpython-37.pyc
.vscode/launch.json
matrix-scanner-solver/.vscode/settings.json
motion/.vscode/.ropeproject/objectdb
motion/.vscode/.ropeproject/config.py
motion/.vscode/settings.json
