*.dll
*.json
*.cache
*.exe
*.pdb
*.bson
*.targets
*.props
*.g.cs
*.rsp
*.config
*.pyc
*.CopyComplete
.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
QuantumHello.AssemblyInfo.cs
QuantumHello.csproj.FileListAbsolute.txt
